
<ion-content [fullscreen]="true">
  <form (ngSubmit)="onSubmit()" class="container">
    <h2>Subir animal</h2>

    <ion-input [(ngModel)]="data.nombre" name="nombre" label="Nombre" type="text" label-placement="floating" fill="outline"></ion-input>
    <ion-input [(ngModel)]="data.img" label="Imagen (URL)" name="img" type="text" label-placement="floating" fill="outline"></ion-input>
    <ion-input [(ngModel)]="data.descripcion" label="Descripción" name="descripcion" type="text" label-placement="floating" fill="outline"></ion-input>
    <ion-button type="submit" expand="block">Subir</ion-button>
  </form>
</ion-content>
