
<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/subir-animal">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let animal of animales">
        <ion-card>
          <img [src]="animal.img" style="width: 100%;">
          <ion-card-header>
            <ion-card-title>{{animal.nombre}}</ion-card-title>
          </ion-card-header>
          
          <ion-card-content>
            {{animal.descripcion}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>