<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h2>Registarse</h2>
    <ion-input label="Nombre de usuario" type="text" label-placement="floating" fill="outline"></ion-input>
    <ion-input label="Email" type="email" label-placement="floating" fill="outline"></ion-input>
    <ion-input label="Contraseña" type="password" label-placement="floating" fill="outline"></ion-input>
    <ion-button expand="block">Registrarse</ion-button>
  </div>
</ion-content>
